<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Upload page</title>
</head>
<body>
    <div class="container">
        <input type="file" id="image_input" accept="image/png, image/jpg">
        <button onclick="uploadImage()">Upload</button>
    </div>

    <div id="display_image"></div>

    <script src="../static/script.js"></script>
</body>
</html>
